.food-item {
  width: 100%;
  margin: auto;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #00000015;
  transition: 0.3s;
  animation: fadeIn 1s;
}

.food-item-image {
  width: 357px;
  height: 259px;
  border-radius: 15px 15px 0px 0px;
}

.food-item-info {
  padding: 20px;
}

.food-item-name-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.food-item-name-rating p {
  font-size: 20px;
  font-weight: 500;
}

.food-item-name-rating img {
  width: 70px;
}

.food-item-desc {
  color: #9a8585;
  font-size: 16px;
}

.food-item-price {
  color: tomato;
  font-size: 22px;
  font-weight: 500;
  margin: 10px 0px;
}

.food-item-img-container {
  position: relative;
}

.food-item-img-container .add {
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  border-radius: 50%;
}

.food-item-counter {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 50px;
  background-color: white;
  color: rgb(117, 106, 105);
}

.food-item-counter img {
  width: 30px;
}

.food-item-reviews {
  margin-top: 20px;
}

.review-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.review-form {
  margin-top: 20px;
}

.review-form textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.review-form select {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.review-form button {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #218838;
}

.toggle-description {
  color: rgb(102, 102, 116);
  cursor: pointer;
  font-weight: bold;
}

.food-item-rating {
  display: flex;
  align-items: center;
}

.star-icon {
  color: tomato; 
  font-size: 20px; 
  cursor: pointer;
  margin-right: 5px;
}

@media (max-width: 1050px) {
  .food-item-image {
    width: 294px;
    height: 230px;
    border-radius: 15px 15px 0px 0px;
  }
}
