.food-display{
    margin-top: 30px;
}

.food-display h2{
    font-size: max(1.5vw,22px);
    font-weight: 500;
    padding: 5px 5px;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}